<div class="sidebar">
	<div class="sidebar__content">
		<div class="sidebar__content__author">
			<amp-img src="/img/avatar.jpg" 
				alt="Hernan Castilla" height="80" width="80" sizes="(min-width: 768px) 35px, 35px"></amp-img>
			<span><%= config.author %></span>
		</div>
		
		<ul class="sidebar__content__list">
			<li> <a href="/"> Home </a> </li>
			<% site.pages.forEach(function(page){ %>
				<li>
					<a href="/<%= page.path %>"> <%= page.title %> </a>
				</li>
			<% }); %>
		</ul>

		<ul class="sidebar__content__social">
			<li>
					<a href="//facebook.com/hcastillaq">
						<i class="fab fa-facebook-square"></i>
					</a>
			</li>
			<li>
					<a href="//instagram.com/hcastillaq"> 
						<i class="fab fa-instagram"></i>
					</a>
			</li>
			<li>
					<a href="//github.com/hcastillaq">
						<i class="fab fa-github-square"></i>
					</a>
			</li>
		</ul>
	</div>
</div>